<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:substituteby="/admin/common_admin :: head">
</head>



<body>

<div th:substituteby="/admin/common_admin :: menu"/>

<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section">活动</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <form class="ui form segment" action="/admin/activityHandle" method="POST" enctype="multipart/form-data">

                <div class="field">
                    <label>活动头图</label>
                    <input type="file" name="banner" enctype="multipart/form-data"  accept="image/jpg,image/png,image/jpeg" />
                </div>

                <div class="field">
                    <div class="ui three column stackable grid">
                        <div class="column">
                            <label>活动主题</label>
                            <input name="name" th:value="${activity.name}" placeholder="活动名称" type="text"/>
                        </div>

                        <div class="column">
                            <label>活动地点</label>
                            <div class="ui fluid multiple search selection dropdown">
                                <input name="city" th:value="${activity.city}" type="hidden" />
                                <i class="dropdown icon"></i>
                                <div class="default text">请选择城市</div>
                                <div class="menu">
                                    <div class="item" data-value="上海市">上海市</div>
                                    <div class="item" data-value="北京市">北京市</div>
                                    <div class="item" data-value="杭州市">杭州市</div>
                                    <div class="item" data-value="江苏市">江苏市</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <label>活动详情</label>
                    <textarea name="detail"  th:text="${activity.detail}"></textarea>
                </div>

                <div class="fields">
                    <div class="field">
                        <label>活动开始时间</label>
                        <input name="beginDate" class="dt-input" th:value="${#calendars.format((activity.beginDate ?: #calendars.createNow()),'yyyy-MM-dd')}"  type="text"/>
                    </div>
                    <div class="field">
                        <label>活动结束时间</label>
                        <input name="endDate" class="dt-input" th:value="${activity.endDate!=null}? ${#calendars.format(activity.endDate,'yyyy-MM-dd')}"  type="text"/>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                        <label>活动类别</label>
                        <input name="type" type="text" th:value="${activity.type}"  placeholder="测试类别"/>
                    </div>
                    <div class="field">
                        <label>活动收费类型</label>
                        <input name="chargeType"  type="text" th:value="${activity.chargeType}"  placeholder="活动收费类型"/>
                    </div>
                    <div class="field">
                        <label>活动针对人群</label>
                        <input name="crowd" type="text" th:value="${activity.crowd}"  placeholder="测试人群"/>
                    </div>
                    <div class="field">
                        <label>运动强度</label>
                        <input name="strength" type="text" th:value="${activity.strength}"   placeholder="测试强度"/>
                    </div>
                    <div class="field">
                        <input name="id" type="hidden" th:value="${activity.id}"/>
                    </div>
                </div>
                <button type="submit" class="ui primary submit button">保存</button>
                <button type="reset" class="ui reset button">重置</button>
            </form>
        </div>
    </div>
</div>

<div  class="ui mini modal">
    <div class="header">提示</div>
    <div class="content">
        <p>操作失败</p>
    </div>
    <div class="actions">
        <div  class="ui positive button">
            确定
        </div>
    </div>
</div>

<script th:inline="JavaScript">
    /*<![CDATA[*/

    var error = [[${error}]];

    if(error != null){
        var dialog = $('.ui.mini.modal')
        result(dialog,-1,"保存失败！请稍候再试！");
        error =null;
    }


    $('.ui.dropdown').dropdown();
    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })
    $('.special.cards .image').dimmer({
        on: 'hover'
    });


    //日历
    laydate.render({
        elem: "input[name='beginDate']" //指定元素
        ,mark: {
            '0-10-01': '国庆节'
            ,'0-12-31': '跨年' //每年12月31日
            ,'0-0-10': '发工资' //每个月10号
        }
    });

    laydate.render({
        elem: "input[name='end" +
        "Date']" //指定元素
        ,mark: {
            '0-10-01': '国庆节'
            ,'0-12-31': '跨年' //每年12月31日
            ,'0-0-10': '发工资' //每个月10号
        }
    });

    "input[name='beginDate']"
    $('.ui form')
            .form({
                fields: {
//                    banner: 'empty',
                    name: 'empty',
                    city: 'empty',
                    detail: 'empty',
                    beginDate: 'empty',
                    endDate: 'empty',
                    type: 'empty',
                    chargeType: 'empty',
                    crowd: 'empty',
                    strength:  'empty'
                }
            })
    ;
//设置默认值
//    $('.ui form')
//    .form('set values', {
//        name     : 'Jack',
//        detail   : 'male',
//        type : 'youdliketoknow'
//
//    })
    /*]]>*/
</script>
</body>

</html>
