<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:substituteby="/admin/common_admin :: head">
</head>


<body>
<div th:substituteby="/admin/common_admin :: menu">
</div>

<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section">活动券名单</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">

            <div class="ui segment">

            </div>
            <div class="ui segment">

                    <div th:if="${not #lists.isEmpty(page.content)}" class="ui ordered list">
                            <div class="item" th:each="u : ${page.content}">
                                <div class="right floated content">
                                    <div class="ui button" th:text="${u.createTime}"></div>
                                </div>
                                <img class="ui avatar image" th:src="${u.head_src}" />
                                <div class="content">
                                    <a class="header" th:text="${u.tel}"></a>
                                </div>
                            </div>
                    </div>

            </div>
            <div class="ui segment right aligned ">
                <div class="ui buttons">
                    <a href="/admin/actUser?page=${page.current-1}"
                       class="left labeled icon button" th:classappend="${page.number &lt;= 1}? 'disabled'"><i
                            class="left arrow icon"></i> 上一页 </a>
                    <a class="ui blue active button" th:text="${page.number}"></i> </a>
                    <a href="/admin/actUser?page=${page.current+1}"
                       class="ui right labeled icon button" th:classappend="${page.number+1 &gt; page.totalPages}? 'disabled'"><i
                            class="right arrow icon"></i> 下一页 </a>
                </div>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>
<script>
    $("#menu").on('click', function () {
//        $(".ui.sidebar").sidebar('setting', 'transition', 'overlay');
        $(".ui.sidebar").sidebar('toggle');
    })


</script>
</body>

</html>
