<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Title</title>
</head>



<!--活动-->
<body th:fragment="activity">
<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >中心活动</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column">
                        <a href="@{/admin/add/activity}" class="ui primary button">新建活动</a>
                    </div>
                    <div class="column right aligned">
                        <select name="skills" multiple="" class="ui multiple search selection dropdown">
                            <option value="">上海</option>
                            <option value="angular">北京</option>
                            <option value="css">江苏</option>
                        </select>
                        <a href="" class="ui primary button">查询</a>
                    </div>
                </div>
            </div>
            <div class="ui segment right aligned">
                <div class="ui buttons">
                    <a href="@{/admin(pageNow=${pages.current-1})}"
                       class="ui  left labeled icon button" th:classappend="${page.number &lt;= 1}? 'disabled'"><i
                            class="left arrow icon"></i> 上一页 </a>
                    <a class="ui blue active button" th:text="${page.number}"></a>
                    <a href="@{/admin(pageNow=${page.current+1})}"
                       class="ui right labeled icon button" th:classappend="${page.number+1 &gt; page.totalPages}? 'disabled'"><i
                            class="right arrow icon"></i> 下一页 </a>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui four stackable  special cards">

                    <div th:each="activity : ${page.content}" class="card" th:unless="${#lists.isEmpty(page.content)}">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a  href="javascript:;"
                                            th:data="${activity.id}"  class="ui inverted button viewActivity">查看</a>
                                    </div>
                                </div>
                            </div>
                            <img th:src="${activity.bannerSrc}" onerror="this.src='/images/admin/ERROR.png'"/>
                        </div>
                        <div class="content">
                            <a class="header" th:text="${activity.name}"></a>
                            <div class="meta">
                                <span class="date"  th:text="${activity.createTime}?${#calendars.format(activity.createTime,'yyyy-MM-dd HH:mm:ss')}">></span>
                            </div>
                            <div class="description" th:utext="${activity.detail}">
                            </div>
                        </div>
                        <div class="extra content">
                            <a th:href="@{/admin/activityDel(id=${activity.id})}" class="right floated">删除</a>
                            <a th:href="@{/admin/activityToEdit(id=${activity.id})}"> 编辑 </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal-->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header" id="modal_name">

    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/admin/ERROR.png" onerror="this.src='/images/admin/ERROR.png'" id="modal_bannerSrc"/>
        </div>
        <div class="description">
            <div class="ui header" >活动详情</div>
            <p id="modal_detail"></p>
            <div class="ui header" >活动时间</div>
            <p id="modal_date"></p>
            <div class="ui header" >活动细则</div>
            <div id="modal_more" class="ui horizontal list">

            </div>
        </div>
    </div>
    <div class="actions">
        <a id="modal_edit" href="/admin/activityToEdit?id=" class="ui positive right  icon button">
            编辑
        </a>
    </div>
</div>
<script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>
<script th:inline="JavaScript">
    /*<![CDATA[*/
    $('.ui.dropdown').dropdown();
    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })
    $('.special.cards .image').dimmer({
        on: 'hover'
    });

    $(".button.viewActivity").on('click',function () {
        var id = $(this).attr("data-value");
        $.ajax({
            type:'POST',
            url:'/admin/activityView',
            data:{
                'id':id
            },
            contentType:"application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data != null){
                    var activity = data[0];
                    $("#modal_name").text(activity.name);
                    $("#modal_bannerSrc").attr("src",activity.bannerSrc);
                    $("#modal_detail").text(activity.detail);
                    var modal_date = activity.beginDate + " ~ " + activity.endDate;
                    $("#modal_date").text(modal_date);
                    var modal_more = "";
                    modal_more += '<div class="item" ><div class="header">活动类别</div>' + activity.type + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动收费类型</div>' + activity.chargeType + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动人群</div>' + activity.crowd + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">运动强度</div>' + activity.strength + '</div>' ;
                    $("#modal_more").html(modal_more);
                    var href = $("#modal_edit").attr("href") + id;
                    $("#modal_edit").attr("href",href);
                    $('.ui.modal').modal('show');
                }
            },
        })
    })
    /*]]>*/
</script>
</body>







<!--家庭作业-->
<body th:fragment="theme">
<div th:substituteby="/admin/common_admin :: menu">
</div>

<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >家庭作业</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column left aligned">
                        <a href="@{/admin/add/activity}" class="ui primary button">新建主题</a>
                    </div>
                    <div class="column right aligned">
                        <div class="ui search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="关键字"/>
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <table class="ui selectable celled table">
                <thead>
                <tr class="positive"><th><div class="ui ribbon label">项目</div></th>
                    <th>标题</th>
                    <th>标题</th>
                    <th>启用</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td>
                        First
                    </td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="public"/>
                            <label></label>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="public"/>
                            <label></label>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>Cell</td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="public"/>
                            <label></label>
                        </div>
                    </td>

                </tr>
                </tbody>
                <tfoot>
                <tr><th colspan="4">
                    <div class="ui right floated pagination menu">
                        <a class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item">1</a>
                        <a class="item">2</a>
                        <a class="item">3</a>
                        <a class="item">4</a>
                        <a class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
                </tr></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>