<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>后台</title>
    <link rel="stylesheet" href="/ui/semantic/semantic.min.css"/>
    <script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/js/gym.js' charset='utf-8'></script>
    <script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>

</head>

<div th:fragment="menu" class="ui  thin sidebar left inverted vertical menu">
    <div class="header item">
        <img class="logo" src="/images/admin/logo.jpg"/>
    </div>
    <a href="/admin/activity" class="item">中心活动
        <i class="browser icon"></i>
    </a>
    <a href="/admin/theme" class="item">家庭作业</a>
    <a href="/admin/simulation" class="item">会员登录</a>
    <a href="/admin/feedback" class="item">会员反馈</a>
    <a href="/admin/actUser" class="item">活动名单</a>
    <a href="/admin/exit" class="item">退出</a>

</div>
</html>
