<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Title</title>
</head>



<!--活动-->
<body th:fragment="activity">
<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >中心活动</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column">
                        <a th:href="@{/admin/activityAdd}" class="ui primary button">新建活动</a>
                    </div>
                    <div class="column right aligned">
                        <select name="skills" multiple="" class="ui multiple search selection dropdown">
                            <option value="">上海</option>
                            <option value="angular">北京</option>
                            <option value="css">江苏</option>
                        </select>
                        <a href="" class="ui primary button">查询</a>
                    </div>
                </div>
            </div>
            <div class="ui segment right aligned">
                <div class="ui buttons">
                    <a href="#" th:attr="data_id=1"
                       class="ui button item" > 首页</a>
                    <a href="#" th:attr="data_id=${page.number}"
                       class="ui left labeled icon button item" th:classappend="${page.number&lt;= 0}?'disabled'"><i
                            class="left arrow icon"></i> 上一页 </a>
                    <a class="ui blue active button" th:text="${page.number+1}"></a>
                    <a href="#" th:attr="data_id=${page.number+2}"
                       class="ui right labeled icon button item" th:classappend="${page.number+2&gt;page.totalPages}?'disabled'"><i
                            class="right arrow icon"></i> 下一页 </a>
                    <a href="#" th:attr="data_id=${page.totalPages}"
                       class="ui button item" > 尾页</a>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui four stackable  special cards">

                    <div th:each="activity : ${page.content}" class="card" th:unless="${#lists.isEmpty(page.content)}">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a  href="javascript:;"
                                            th:data="${activity.id}"  class="ui inverted button viewActivity">查看</a>
                                    </div>
                                </div>
                            </div>
                            <img th:src="${activity.bannerSrc}" onerror="this.src='/images/admin/ERROR.png'"/>
                        </div>
                        <div class="content">
                            <a class="header" th:text="${activity.name}"></a>
                            <div class="meta">
                                <span class="date"  th:text="${activity.createTime}?${#calendars.format(activity.createTime,'yyyy-MM-dd HH:mm:ss')}">></span>
                            </div>
                            <div class="description" th:utext="${activity.detail}">
                            </div>
                        </div>
                        <div class="extra content">
                            <a th:href="@{/admin/activityDel(id=${activity.id})}" class="right floated">删除</a>
                            <a th:href="@{/admin/activityToEdit(id=${activity.id})}"> 编辑 </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal-->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header" id="modal_name">

    </div>
    <div class="image content">
        <div class="ui medium image">
            <img src="/images/admin/ERROR.png" onerror="this.src='/images/admin/ERROR.png'" id="modal_bannerSrc"/>
        </div>
        <div class="description">
            <div class="ui header" >活动详情</div>
            <p id="modal_detail"></p>
            <div class="ui header" >活动时间</div>
            <p id="modal_date"></p>
            <div class="ui header" >活动细则</div>
            <div id="modal_more" class="ui horizontal list">

            </div>
        </div>
    </div>
    <div class="actions">
        <a id="modal_edit" href="/admin/activityToEdit?id=" class="ui positive right  icon button">
            编辑
        </a>
    </div>
</div>
<script th:inline="JavaScript">
    /*<![CDATA[*/
    var page;
    var city;
    var pageNow=[[${page.number+1}]];
    if(page=getUrlParam("pageNow")){
        pageNow = page;
    }

    if(type=getUrlParam("city")){

alert(type)
    }

    $(".ui.button.item").click(function () {
        var url = '/admin/index?'+$.param({pageNow:$(this).attr('data_id'),type:type});
        window.location.href=url;
    }),

    $('.ui.dropdown').dropdown();
    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })
    $('.special.cards .image').dimmer({
        on: 'hover'
    });

    $(".button.viewActivity").on('click',function () {
        var id = $(this).attr("data-value");
        $.ajax({
            type:'POST',
            url:'/admin/activityView',
            data:{
                'id':id
            },
            contentType:"application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data != null){
                    var activity = data[0];
                    $("#modal_name").text(activity.name);
                    $("#modal_bannerSrc").attr("src",activity.bannerSrc);
                    $("#modal_detail").text(activity.detail);
                    var modal_date = activity.beginDate + " ~ " + activity.endDate;
                    $("#modal_date").text(modal_date);
                    var modal_more = "";
                    modal_more += '<div class="item" ><div class="header">活动类别</div>' + activity.type + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动收费类型</div>' + activity.chargeType + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动人群</div>' + activity.crowd + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">运动强度</div>' + activity.strength + '</div>' ;
                    $("#modal_more").html(modal_more);
                    var href = $("#modal_edit").attr("href") + id;
                    $("#modal_edit").attr("href",href);
                    $('.ui.modal').modal('show');
                }
            },
        })
    })
    /*]]>*/
</script>
</body>







<!--家庭作业-->
<body th:fragment="theme">

<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >家庭作业</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column left aligned">
                        <a id="add" href="#" class="ui primary button">新建主题视频</a>
                    </div>
                    <div class="column right aligned">
                        <div class="ui search">
                            <a class="ui icon input" th:id="${page.number+1}">
                                <input  class="prompt" type="text" placeholder="关键字"/>
                                <i style="cursor:pointer"  class="search icon"></i>
                            </a>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <table class="ui selectable celled table">
                <thead>
                <tr class="positive" >
                    <th><div class="ui ribbon label">主题课程</div></th>
                    <th>学期开始日期</th>
                    <th>第几周</th>
                    <th>视频名称</th>
                    <th>是否启用</th>
                    <th>删除</th>
                </tr></thead>
                <tbody>
                <tr  th:unless="${#lists.isEmpty(page.content)}" th:each="theme : ${page.content}">
                    <td th:text="${theme.course}"></td>
                    <td th:text="${#calendars.format(theme.beginDate,'yyyy-MM-dd')}"></td>
                    <td class="tip"  data-position="top left" th:text="${theme.weekNum}"></td>
                    <td th:text="${theme.videoSrc}"></td>
                    <td>
                        <div  class="ui toggle checkbox">
                            <input class="isShow" th:attr="data_id=${theme.id}" th:checked="${theme.isShow}" type="checkbox" name="public"/>
                            <label></label>

                        </div>

                    </td>
                    <td><a class="del" href="#" th:attr="data_id=${theme.id}">删除</a></td>

                </tr>
                <tr  th:if="${#lists.isEmpty(page.content)}"><td colspan="4" style="text-align: center">
                    <div   class="ui pointing red  label">
                        OOPS! No Record!
                    </div>
                </td></tr>

                </tbody>
                <tfoot>
                <tr><th colspan="6">
                    <div class="ui right floated pagination menu" >

                        <a th:if="${page.number &gt; 0}" th:attr="data_id=${page.number}"  class="icon item">
                            <i class="left chevron icon"></i>
                        </a>

                        <a th:if="${i &lt; page.totalPages+1}" th:each="i:${#numbers.sequence(page.number+1,6)}" th:attr="data_id=${i}"  th:text="${i}" th:classappend="${i == page.number+1} ? ' disabled'" class="item"></a>

                        <a th:if="${page.number &lt; page.totalPages-1}" th:attr="data_id=${page.number+2}" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>

                    </div>
                </th>
                </tr></tfoot>
            </table>
        </div>
    </div>
</div>


<div class="ui mini modal">
    <div class="header">
        提示
    </div>
    <div class="content">
        <p>操作失败</p>
    </div>
    <div class="actions">
        <div onclick="window.location.reload()" class="ui positive right labeled icon button">
            确定
        </div>
    </div>
</div>

<div id="formAdd" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        新增
    </div>
    <div class="content">

        <form class="ui form segment">
            <div class="one fields">
                <div class="field">
                    <label>主题课程</label>
                    <input name="course_id" type="hidden" value="funnyBug"/>
                    <input name="course" type="text" value="趣味小虫"/>
                </div>
                <div class="field">
                    <label>学期开始日期</label>
                    <input name="dtBegin" type="text" placeholder="学期开始日期" value=""/>
                </div>
                <div class="field">
                    <label>第几周</label>
                    <input name="weekNum" type="text" placeholder="输入数字" value=""/>
                </div>

            </div>

            <div class="ui blue submit button">Submit</div>
            <div class="ui reset button">Reset</div>
        </form>
    </div>

</div>

<div class="ui tiny modal">
    <div class="header">
        提示
    </div>
    <div class="content">
        <p>是否确定删除？</p>
    </div>
    <div class="actions">
        <div id="sure" class="ui positive button">
            确定<i class="checkmark icon"></i>
        </div>
        <div onclick="window.location.reload()" class="ui black deny button">
            取消<i class="remove icon"></i>
        </div>
    </div>
</div>

<script th:inline="JavaScript">
    /*<![CDATA[*/
    $(".tip").each(function () {
        $(this).attr("data-tooltip",$(this).text())
    })


    if(kw=getUrlParam('kw')){
        $(".prompt").val(kw)
    };

    $("#add").click(function() {
        $('#formAdd').modal('show');
    });
    $(".del").click(function(){
        $('#sure').attr('onclick','del('+$(this).attr("data_id")+')')
        $('.ui.tiny.modal').modal('show');
        $(this).parent().parent().hide();
    });
    function del(id) {
        $.get("/admin/themeDel",{id:id}, function(data){
            if(data.code){
                result();
            }
        })
    }
    function result(sucess,data) {
        var dialog = $('.ui.mini.modal');

        if(!sucess){
            data = data ? data : "操作失败";
        }else {
            data = data ? data : "操作成功";
        }
        data = "<p>"+data+"</p>"
        dialog.find("content").html(data)
        $('.ui.mini.modal').modal('show');
    }
    $(".isShow").click(function(){
        var origin = !this.checked
        var current =$(this);
        $.post("/admin/theme",{id:$(this).attr('data_id'),isShow:this.checked}, function(data){
            if(data.code){
                result();
            };

        })

    })

    $(".search .icon ").on("keydown change keyup",function (event) {
        if(event.keyCode==13){
            var url = '/admin/theme?'+$.param({pageNow:$(this).attr('data_id'),kw:$(".prompt").val()});
            window.location.href=url;
        }

    })


    $(".item").click(function () {
        var url = '/admin/theme?'+$.param({pageNow:$(this).attr('data_id'),kw:$(".prompt").val()});
        window.location.href=url;

    })


    //validation

    $('.ui.form')
        .form({
            fields: {

                dtBegin: {
                    identifier : 'dtBegin',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : '请输入正确的日期'
                        }
                    ]
                },
                weekNum: {
                    identifier  : 'weekNum',
                    rules: [
                        {
                            type   : 'integer',
                            prompt : '请输入正确的数字'
                        }
                    ]
                }
            },

            onSuccess: function(e) {
                alert('submit')
                $.ajax({
                    type: 'post',
                    url: '/admin/themeAdd',
                    data:  $(".ui.form").serialize(),
                    success: function(res) {
                        if(re.code){
                            result();
                        }else{
                           // window.location.reload();
                        }
                  }
                });

            }
        })
    ;

    /*]]>*/
</script>
</body>
</html>