<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Title</title>
</head>



<!--活动-->
<body th:fragment="activity">
<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >中心活动</div>
            </div>
            <div style="float: right">
                <a class="ui image label" th:inline="text">
                    <img src="/images/admin/user.jpg"/>[[${session.admin.username}]]
                    <div class="detail" th:utext="${session.admin.role == null? '':session.admin.role.name}"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column">
                        <a th:href="@{/admin/activitySave}" class="ui primary button">新建活动</a>
                    </div>
                    <div class="column right aligned">
                        <select name="city" class="ui search selection dropdown">
                            <option value="">请选择城市</option>
                            <option th:each="item : ${session.citys}" th:value="${item.city}" th:text="${item.city}"></option>
                        </select>
                        <a href="javascript: " id="query" class="ui primary button">查询</a>
                    </div>
                </div>
            </div>
            <div class="ui segment right aligned">
                <div class="ui buttons">
                    <a href="#" th:attr="data_id=1"
                       class="ui button item" > 首页</a>
                    <a href="#" th:attr="data_id=${page.number}"
                       class="ui left labeled icon button item" th:classappend="${page.number&lt;= 0}?'disabled'"><i
                            class="left arrow icon"></i> 上一页 </a>
                    <a class="ui blue active button" th:text="${page.number+1}"></a>
                    <a href="#" th:attr="data_id=${page.number+2}"
                       class="ui right labeled icon button item" th:classappend="${page.number+2&gt;page.totalPages}?'disabled'"><i
                            class="right arrow icon"></i> 下一页 </a>
                    <a href="#" th:attr="data_id=${page.totalPages}"
                       class="ui button item" > 尾页</a>
                </div>
            </div>
            <div class="ui segment">
                <div class="ui four stackable  special cards">
                    <div th:each="activity : ${page.content}" class="card" th:unless="${#lists.isEmpty(page.content)}">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a  href="javascript:;"
                                            th:attr="data-id=${activity.id}" th:href="@{/admin/activityView(id=${activity.id})}"  class="ui inverted button viewActivity">查看</a>
                                    </div>
                                </div>
                            </div>
                            <img th:src="${activity.bannerSrc}" onerror="this.src='/images/admin/ERROR.png'"/>
                        </div>
                        <div class="content">
                            <a class="header" th:text="${activity.name}"></a>
                            <div class="meta">
                                <span class="date"  th:text="${activity.createTime}?${#calendars.format(activity.createTime,'yyyy-MM-dd HH:mm:ss')}">></span>
                            </div>
                            <div class="description" th:utext="${activity.detail}">
                            </div>
                        </div>
                        <div class="extra content">
                            <a href="#" th:attr="data-id=${activity.id}" class="right floated delete">删除</a>
                            <a th:href="@{/admin/activitySave(id=${activity.id})}"> 编辑 </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- modal-->
<div class="ui tiny modal">
    <div class="header">
        提示
    </div>
    <div class="content">
        <p>是否确定删除？</p>
    </div>
    <div class="actions">
        <div id="sure" class="ui positive button">
            确定<i class="checkmark icon"></i>
        </div>
        <div onclick="window.location.reload()" class="ui black deny button">
            取消<i class="remove icon"></i>
        </div>
    </div>
</div>


<div class="ui mini modal">
    <div class="header">提示</div>
    <div class="content">
        <p>操作失败</p>
    </div>
    <div class="actions">
        <div onclick="window.location.reload()" class="ui positive button">
            确定
        </div>
    </div>
</div>

<script th:inline="JavaScript">
    /*<![CDATA[*/
    var page;
    var city;
    var pageNow=[[${page.number+1}]];
    if(page=getUrlParam("pageNow")){
        pageNow = page;
    }

    if(city = GetRequest().city){
        $('.ui.dropdown').dropdown('set selected',city);
    }
    $('.ui.dropdown').dropdown();

    $("#query").click(function () {
        var url = '/admin/index?'+$.param({pageNow:pageNow,city:$('.ui.dropdown').dropdown('get value')});
        window.location.href=url;
    })

    $(".ui.button.item").click(function () {
        var url = '/admin/index?'+$.param({pageNow:$(this).attr('data_id'),city:city});
        window.location.href=url;
    }),



    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })
    $('.special.cards .image').dimmer({
        on: 'hover'
    });

    $(".button.viewActivity").on('click',function () {
        var id = $(this).attr("data-value");
        $.ajax({
            type:'POST',
            url:'/admin/activityView',
            data:{
                'id':id
            },
            contentType:"application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data != null){
                    var activity = data[0];
                    $("#modal_name").text(activity.name);
                    $("#modal_bannerSrc").attr("src",activity.bannerSrc);
                    $("#modal_detail").text(activity.detail);
                    var modal_date = activity.beginDate + " ~ " + activity.endDate;
                    $("#modal_date").text(modal_date);
                    var modal_more = "";
                    modal_more += '<div class="item" ><div class="header">活动类别</div>' + activity.type + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动收费类型</div>' + activity.chargeType + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">活动人群</div>' + activity.crowd + '</div>' ;
                    modal_more += '<div class="item" ><div class="header">运动强度</div>' + activity.strength + '</div>' ;
                    $("#modal_more").html(modal_more);
                    var href = $("#modal_edit").attr("href") + id;
                    $("#modal_edit").attr("href",href);
                    $('.ui.modal').modal('show');
                }
            },
        })
    })

   //删除
    $(".right.floated.delete").click(function(){
        //alert($(this).data("id"))
        //对象加事件属性
        $('#sure').attr('onclick',"del('id')".replace('id',$(this).data('id')));
        $('.ui.tiny.modal').modal('show');
        $(this).parent().parent().hide();
    });
    function del(id) {
        $.get("/admin/activityDel",{id:id}, function(res){
            if(res.code){
                var dialog = $('.ui.mini.modal')
                showResult(dialog,res.code,res.data);
            }
        })
    }
    /*]]>*/
</script>
</body>







<!--家庭作业-->
<body th:fragment="theme">
<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >家庭作业</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui two column stackable grid">
                    <div class="column left aligned">
                        <a id="add" href="#" class="ui primary button">新建主题视频</a>
                    </div>
                    <div class="column right aligned">
                        <div class="ui search">
                            <a class="ui icon input" th:id="${page.number+1}">
                                <input  class="prompt" type="text" placeholder="关键字"/>
                                <i style="cursor:pointer"  class="search icon"></i>
                            </a>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <table class="ui selectable celled table">
                <thead>
                <tr class="positive" >
                    <th><div class="ui ribbon label">主题课程</div></th>
                    <th>学期开始日期</th>
                    <th>学期第几周</th>
                    <th>视频名称</th>
                    <th>视频URL</th>
                    <th>是否启用</th>
                    <th>记录操作</th>
                </tr></thead>
                <tbody>
                <tr th:unless="${#lists.isEmpty(page.content)}" th:each="theme : ${page.content}">
                    <td class="course" th:text="${theme.course}" ></td>
                    <td class="dt" th:text="${#calendars.format(theme.beginDate,'yyyy-MM-dd')}"></td>
                    <td class="tip"  data-position="top left" th:text="${theme.weekNum}"></td>
                    <td class="name" th:text="${theme.name}"></td>
                    <td class="videoSrc" th:text="${theme.videoSrc}"></td>
                    <td>
                        <div  class="ui toggle checkbox">
                            <input class="isShow" th:attr="data_id=${theme.id}" th:checked="${theme.isShow}" type="checkbox" name="public"/>
                            <label></label>

                        </div>

                    </td>
                    <td>
                        <a class="edit" href="#" th:attr="data-id=${theme.id}">编辑</a>
                        <a class="del" href="#" th:attr="data-id=${theme.id}">删除</a>
                     </td>

                </tr>
                <tr  th:if="${#lists.isEmpty(page.content)}"><td colspan="4" style="text-align: center">
                    <div   class="ui pointing red  label">
                        OOPS! No Record!
                    </div>
                </td></tr>

                </tbody>
                <tfoot>
                <tr><th colspan="6">
                    <div class="ui right floated pagination menu" >
                        <a th:if="${page.number &gt; 0}" th:attr="data_id=${page.number}"  class="icon item">
                            <i class="left chevron icon"></i>
                        </a>

                        <a th:if="${i &lt; page.totalPages+1}" th:each="i:${#numbers.sequence(page.number+1,page.number+1+6)}" th:attr="data_id=${i}"  th:text="${i}" th:classappend="${i == page.number+1} ? ' disabled'" class="item"></a>

                        <a th:if="${page.number &lt; page.totalPages-1}" th:attr="data_id=${page.number+2}" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
                </tr></tfoot>
            </table>
        </div>
    </div>
</div>


<div class="ui mini modal">
    <div class="header">提示</div>
    <div class="content">
        <p>操作失败</p>
    </div>
    <div class="actions">
        <div onclick="window.location.reload()" class="ui positive button">
            确定
        </div>
    </div>
</div>

<div id="formAdd" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        添加和修改
    </div>
    <div class="content">
        <form class="ui form segment">
            <div class="fields">
                <div class="field">
                    <label>主题课程</label>
                    <input id="course_id" name="course_id" type="hidden" value="funnyBug"/>
                    <input id="course" name="course" type="text" value="趣味小虫"/>
                </div>
                <div class="field">
                    <label>学期开始日期</label>
                    <input id="dtBegin" name="dtBegin" type="text" placeholder="学期开始日期" value=""/>
                </div>
                <div class="field">
                    <label>学期第几周</label>
                    <input id="weekNum" name="weekNum" type="text" placeholder="输入数字" value=""/>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label>视频名称</label>
                    <input id="name" name="name" type="text" placeholder="输入数字" value=""/>
                </div>
                <div class="eight wide field">
                    <label>视频URL</label>
                    <input id="videoSrc" name="videoSrc" type="text" placeholder="输入数字" value=""/>
                </div>
            </div>
            <div class="ui blue submit button">Submit</div>
            <div class="ui reset button">Reset</div>
        </form>
    </div>
</div>

<div class="ui tiny modal">
    <div class="header">
        提示
    </div>
    <div class="content">
        <p>是否确定删除？</p>
    </div>
    <div class="actions">
        <div id="sure" class="ui positive button">
            确定<i class="checkmark icon"></i>
        </div>
        <div onclick="window.location.reload()" class="ui black deny button">
            取消<i class="remove icon"></i>
        </div>
    </div>
</div>

<script th:inline="JavaScript">
    /*<![CDATA[*/

    $(".tip").each(function () {
        var weekNum = parseInt($(this).text());
        var dtFirst = ($(this).parent().find(".dt").text())
        var tip = date_start(dtFirst,weekNum-1)+" - "+date_end(dtFirst,weekNum)
        $(this).attr("data-tooltip",tip)
        $(this).next().attr("data-tooltip",tip)
    })



    if(kw=getUrlParam('kw')){
        $(".prompt").val(kw)
    };

    $("#add").click(function() {
        $('#formAdd').modal('show');
    });
    $(".del").click(function(){
        $('#sure').attr('onclick','del('+$(this).attr("data-id")+')')
        $('.ui.tiny.modal').modal('show');
        $(this).parent().parent().hide();
    });

    $(".edit").click(function () {
        $("#course_id").val($(this).data('id'));
        $("#course").val($(this).parent().parent().find(".course").text())
        $("#name").val($(this).parent().parent().find(".name").text())
        $("#dtBegin").val($(this).parent().parent().find(".dt").text())
        $("#weekNum").val($(this).parent().parent().find(".tip").text())
        $("#videoSrc").val($(this).parent().parent().find(".videoSrc").text())
        $('#formAdd').modal('show');
    })

    function del(id) {
        $.get("/admin/themeDel",{id:id}, function(data){
            if(data.code){
                var dialog = $('.ui.mini.modal');
                showResult(dialog);
            }
        })
    }

    $(".isShow").click(function(){
        var origin = !this.checked
        var current =$(this);
        $.post("/admin/theme",{id:$(this).attr('data_id'),isShow:this.checked}, function(data){
            if(res.code){
                var dialog = $('.ui.mini.modal');
                showResult(dialog,res.code,res.data);
            };

        })

    })

    $(".search .icon ").on("keydown change keyup",function (event) {
        if(event.keyCode==13){
            var url = '/admin/theme?'+$.param({pageNow:$(this).attr('data_id'),kw:$(".prompt").val()});
            window.location.href=url;
        }

    })

    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })

    $(".item").click(function () {
        var url = '/admin/theme?'+$.param({pageNow:$(this).attr('data_id'),kw:$(".prompt").val()});
        window.location.href=url;

    })

    //validation
    $('.ui.form')
        .form({
            fields: {

                dtBegin: {
                    identifier : 'dtBegin',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : '请输入正确的日期'
                        }
                    ]
                },
                weekNum: {
                    identifier  : 'weekNum',
                    rules: [
                        {
                            type   : 'integer',
                            prompt : '请输入正确的数字'
                        }
                    ]
                }
            },

            onSuccess: function(e) {
                $.ajax({
                    type: 'post',
                    url: '/admin/themeAdd',
                    data:  $(".ui.form").serialize(),
                    success: function(res) {
                        if(res.code){
                            var dialog = $('.ui.mini.modal');
                            showResult(dialog,res.code,res.data);
                        }else{
                            window.location.reload();
                        }
                  }
                });

            }
        })
    ;
    /*]]>*/
</script>
</body>



<!--访问记录统计-->
<body th:fragment="pageLog">
<div th:substituteby="/admin/common_admin :: menu">
</div>
<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section"  >访问记录统计</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <div class="ui one column stackable grid">
                    <div class="column">
                      <div class="ui tabular menu">
                           <a th:class="${groups==null?'active item' : 'item'}" th:href="@{/admin/pageLog}">
                               访问记录
                           </a>
                           <a th:class="${groups==null?'item' : 'active item'}" th:href="@{/admin/pageLogGroup(gp=${groups})}">
                               汇总信息
                           </a>
                      </div>
                    </div>
                </div>
            </div>
            <div  class="ui segment">
                <div class="ui three column stackable grid">
                    <div class="column">
                        <input type="text" class="dt-input" placeholder="开始日期" id="dtBegin"/> - <input type="text" class="dt-input" placeholder="结束日期" id="dtEnd"/>
                    </div>
                    <div th:if="${groups==null}" class="column middle aligned">
                        <div class="ui search">
                            <a class="ui icon input" th:id="${page.number+1}">
                                <input  class="prompt" type="text" placeholder="关键字"/>
                                <i style="cursor:pointer"  class="search icon"></i>
                            </a>
                        </div>
                        <div class="results"></div>
                    </div>
                    <div th:unless="${groups==null}" class="column aligned">
                        <div class="ui fluid multiple search selection dropdown">
                            <input id="groups" th:value="${groups}" type="hidden" />
                            <i class="dropdown icon"></i>
                            <div class="default text">选择分组条件</div>
                            <div class="menu">
                                <div class="item" data-value="pageURL">页面Url</div>
                                <div class="item" data-value="requestType">请求类型</div>
                                <div class="item" data-value="userName">用户</div>
                                <div class="item" data-value="createTime">日期</div>
                            </div>
                        </div>
                    </div>
                    <div  class="column left aligned">
                        <div>
                            <a id="query" href="#" class="ui primary button">查询</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:substituteby="/admin/page :: ${groups==null?'stat_sum':'stat_group'}" > </div>
    </div>
</div>

<script th:inline="JavaScript">
    /*<![CDATA[*/
    var groups =[[${groups}]];
    var pageNow = getUrlParam('pageNow');

    //日历
    laydate.render({
        elem: '#dtBegin' //指定元素
        ,mark: {
            '0-10-01': '国庆节'
            ,'0-12-31': '跨年' //每年12月31日
            ,'0-0-10': '发工资' //每个月10号
        }
    });
    laydate.render({
        elem: '#dtEnd' //指定元素
        ,mark: {
            '0-10-01': '国庆节'
            ,'0-12-31': '跨年' //每年12月31日
            ,'0-0-10': '发工资' //每个月10号
        }
    });

    $('.ui.dropdown').dropdown();



    if(kw=getUrlParam('kw')){
        $(".prompt").val(kw)
    };


    if(dtBegin=getUrlParam('dtBegin')){
        $("#dtBegin").val(dtBegin)
    };
    if(dtEnd=getUrlParam('dtEnd')){
        $("#dtEnd").val(dtEnd)
    };


    $(".search .icon ").on("keydown change keyup",function (event) {
        if(event.keyCode==13){
            goPageLog();
        }

    })

    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })

    function goPageLog() {
        var dtEnd = $("#dtEnd").val();
        var dtBegin = $("#dtBegin").val();
        if (dtEnd!="" && dtBegin!=""){
            var param = $.param({
                pageNow: pageNow,
                kw:  $.trim($(".prompt").val()),
                dtBegin: dtBegin,
                dtEnd: dtEnd
            });
        } else {
            var param = $.param({
                pageNow: pageNow,
                kw: $(".prompt").val()
            });
        }
        var url = "/admin/pageLog?" + param;
        self.location = url;
    }
    function goPageGroup() {
        var dtEnd = $("#dtEnd").val();
        var dtBegin = $("#dtBegin").val();
        if (dtEnd!="" && dtBegin!="") {
            var param = $.param({
                pageNow: pageNow,
                gp: $("#groups").val(),
                dtBegin: $("#dtBegin").val(),
                dtEnd: $("#dtEnd").val()
            })
        }else{
            var param = $.param({
                pageNow: pageNow,
                gp: $("#groups").val()
            })
        }
        var url = "/admin/pageLogGroup?" + param;
        self.location = url;
    }

    $("#query").click(function () {
        if(groups==null){
            goPageLog();
        }else {
            goPageGroup();
        }
    })

    $(".ui.button.item").click(function () {
        pageNow = $(this).attr('data_id');
        goPageGroup();
    })

    $(".pager").click(function () {
        pageNow = $(this).attr('data_id');
        goPageLog();
    })


    /*]]>*/
</script>
</body>

</html>