<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head th:substituteby="/admin/common_admin :: head">
</head>

<body>
<div th:substituteby="/admin/common_admin :: menu"/>

<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section">反馈</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">
            <div class="ui segment">
                <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                    Description
                </h4>
                <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
                <h4 class="ui horizontal divider header">
                    <i class="bar chart icon"></i>
                    Specifications
                </h4>
                <table class="ui definition table">
                    <tbody>
                    <tr>
                        <td class="two wide column">Size</td>
                        <td>1" x 2"</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>6 ounces</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>Yellowish</td>
                    </tr>
                    <tr>
                        <td>Odor</td>
                        <td>Not Much Usually</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>
<script>
    $("#menu").on('click', function () {
        $(".ui.sidebar").sidebar('toggle');
    })



</script>
</body>

</html>
