<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:substituteby="/admin/common_admin :: head">
</head>


<body>
<div th:substituteby="/admin/common_admin :: menu">
</div>

<div class="pusher">
    <div class="ui masthead  segment">
        <div class="ui container">
            <div class="ui breadcrumb">
                <a class="section" id="menu">Home</a>
                <i class="right angle icon divider"></i>
                <div class="active section">反馈</div>
            </div>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segments">

            <div class="ui segment">
                    <select class="ui dropdown">
                        <option value="0">待处理</option>
                        <option value="1">已处理</option>
                        <option value="-1">全部</option>
                    </select>
                    <div class="ui blue statistic">
                        <div class="value" th:text="${page.totalElements}">
                        </div>
                        <div class="label">
                            已处理反馈
                        </div>
                    </div>
            </div>
            <div class="ui segment">
                    <div class="ui ordered list" th:unless="${#lists.isEmpty(page.content)}">
                        <div class="ui dimmer">
                            <div class="ui text loader">加载中</div>
                        </div>
                            <div class="item" th:each="feedback : ${page.content}">
                                <div class="content" >
                                    <a href="javascript:;" th:attr="data-id=${feedback.id}" class="item feedback-details"
                                       th:text="${#strings.length(feedback.details)&gt;40}? ${#strings.substring(feedback.details,0,40)}:(${#strings.trim(feedback.details)==''}?'无':${feedback.details})">

                                    </a>
                                    <div class="ui orange  right tag label" th:text="${feedback.type}"></div>
                                </div>
                            </div>
                    </div>
            </div>
            <div class="ui segment right aligned ">
                <div class="ui buttons">
                    <a href="#" th:attr="data_id=${page.number}"
                       class="ui left labeled icon button item" th:classappend="${page.number&lt;= 0}?'disabled'"><i
                            class="left arrow icon"></i> 上一页 </a>
                    <a class="ui blue active button" th:text="${page.number+1}"></a>
                    <a href="#" th:attr="data_id=${page.number+2}"
                       class="ui right labeled icon button item" th:classappend="${page.number+2&gt;page.totalPages}?'disabled'"><i
                            class="right arrow icon"></i> 下一页 </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        反馈详情
    </div>
    <div class="content">
        <div class="ui feed">
            <div class="event">
                <div class="label">
                    <img src="/images/member/head.png"/>
                </div>
                <div class="content">
                    <div class="date">
                        <i class="volume control phone icon"></i>
                        <i id="feedback_tel" date-tel="" class="ui violet tiny header"></i>
                    </div>
                    <div class="summary">
                        <a href="/admin/simulation?tel=" target="_blank" class="user" id="feedback_name">
                        </a>
                        <div class="date">
                            <span id="feedback_createTime"></span>
                            <div class="ui label" id="feedback_franchisee"></div>
                            <div class="ui  label" id="feedback_type"></div>
                        </div>
                    </div>
                    <div class="extra text" id="feedback_details">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny right labeled icon button">
            稍候处理
            <i class="remove icon"></i>
        </div>
        <div id="sign" data-id="" class="ui positive right labeled icon button">
            标记为已处理
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

<script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>

<script th:inline="JavaScript">
        /*<![CDATA[*/
    var page;
    var type;
    var pageNow=[[${page.number+1}]];
    if(page=getUrlParam("pageNow")){
        pageNow = page;
    }
    //alert(getUrlParam("type"))
    if(type=getUrlParam("type")){
        switch(type)
        {
            case '0':
                $(".ui .dropdown").get(0).selectedIndex=0;
                break;
            case '1':
                $(".ui .dropdown").get(0).selectedIndex=1;
                alert(type);
                break;
            case '-1':
                $(".ui .dropdown").get(0).selectedIndex=2;
                alert(type);
                break;
            default:
                $(".ui .dropdown").get(0).selectedIndex=0;
        }

    }

     $(".ui .dropdown").change(function () {
            url = "/admin/feedback?"+$.param({pageNow:pageNow,type:$(this).find("option:selected").val()})
            window.location.href=url;
     })


      $(".item").click(function () {
            var url = '/admin/feedback?'+$.param({pageNow:$(this).attr('data_id'),type:type});
            window.location.href=url;
      })

     function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
    }

    $(".feedback-details").on('click', function () {
        var that = $(this);
        var id = that.data('id');
        inFeedback(id);
        $('.ui.modal').modal('show');
    })

    $("#sign").on('click', function () {
        var id = $(this).data('id');
        ajax_signed(id)
    })

    function inFeedback(id) {
        $.ajax({
            type: 'POST',
            url: '/admin/feedback',
            data: {
                'id': id
            },
            async: false,
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            beforeSend: function () {
            },
            success: function (res) {
                if (!res.code) {
                    var feedback = res.data;
                    $("#feedback_tel").text(feedback.contactTel?feedback.contactTel:'无');
                    $("#feedback_tel").data('tel',feedback.contactTel?feedback.contactTel:'无');
                    $("#feedback_name").text(feedback.name);
                    $("#feedback_name").attr("href", '/admin/simulation?tel=' + feedback.contactTel);
                    $("#feedback_type").text(feedback.type);
                    $("#feedback_contractTel").text(feedback.contractTel);
                    $("#feedback_createTime").text(feedback.createTime);
                    $("#feedback_franchisee").text(feedback.franchisee);
                    $("#feedback_details").text(feedback.details);
                    $("#sign").data('id', feedback.id + '');
                }
            },
            complete: function () {
            },
            error: function () {
            }
        })
    }

    function ajax_admin_member(tel) {
        $.ajax({
            type: "POST",
            url: "/admin/member",
            data: {
                "tel": tel
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (data) {
                if (data.success == true) {
                    location.href = "/index";
                } else {
                    var errmessage = '<ul><li>' + data.message + '</li></ul>'
                    $(".ui.error.message").html(errmessage);
                    $(".ui.error.message").fadeIn();
                }
            }
        })
    }

    function ajax_signed(id) {
        $.ajax({
            type: "POST",
            url: "/admin/sign",
            data: {
                "id": id
            },
            contentType: "application/x-www-form-urlencoded",
            dataType: "json",
            success: function (res) {
                if (!res.code) {
                    location.reload();
                } else {
                    alert("标记失败，请重试");
                }
            },
            error: function () {
                alert("异常错误，请重试");
            }
        })
    }


    /*]]>*/
</script>
</body>

</html>
