<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>手机会员后台</title>
    <link rel="stylesheet" href="/ui/semantic/semantic.min.css"/>
    <style>
        body {
            background-color: #DADADA;
        }
        body > .grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal header">
            <img class="img" src="/images/admin/logo.jpg"/>
            <div class="content">手机会员后台登录</div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input id="username" type="text" name="email" placeholder="E-mail address"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input id="password" type="password" name="password" placeholder="Password"/>
                    </div>
                </div>
                <div id="login" class="ui fluid large teal submit button">登录</div>
            </div>

            <div  class="ui error message"></div>

        </form>

    </div>
</div>

<script type='text/javascript' src='/js/jquery-1.11.3.min.js' charset='utf-8'></script>
<script type='text/javascript' src='/ui/semantic/semantic.min.js' charset='utf-8'></script>
<script th:inline="JavaScript">
    /*<![CDATA[*/
    function valForm() {
        var flag = false;
        var errmessage = '<ul class="list" >';
        var itemMessage = '';
        if ($("#username").val() == ""){
            itemMessage += '<li>' + '必须输入用户名'  +  '</li>';
        }
        if ($("#password").val() == ""){
            itemMessage += '<li>' + '必须输入密码'  +  '</li>';
        }
        if (itemMessage == ''){
            flag = true;
        }
        errmessage += itemMessage;
        errmessage += '</ul>';
        if (!flag){
            $(".ui.error.message").html(errmessage);
            $(".ui.error.message").fadeIn();
        }
        return flag;
    }

    $("#login").on('click',function () {
        login()
    })
    $("body").on('keydown',function () {
        if (event.keyCode == "13") {login();}
    })
    
    function login() {
        if(valForm()){
            ajax_login($("#username").val(),$("#password").val());
        }
    }

    function ajax_login(username,password){
        this.username = username;
        this.password = password;
        $.ajax({
            type:'POST',
            url:'/admin/login',
            data:{
                'username':this.username,'password':this.password
            },
            contentType:"application/x-www-form-urlencoded",
            dataType: "json",
            success:function (res) {
                var tip;
                if(res!=null && !res.code){
                    tip = "loading...";
                    window.location.href = '/admin/index';
                } else {
                    tip = res.msg;
                }
                $(".ui.error.message").text(tip);
                $(".ui.error.message").fadeIn()
            }})
    }
    /*]]>*/


</script>
</body>
</html>