html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-background-origin:content-box;background-origin:content-box;}section,header,footer,nav{display:block;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}img{border:0;font-size:0}a{text-decoration:none;}
.cf:before,.cf:after{content:"";display:table}.cf:after{clear:both}.cf{*zoom:1}
*{
    -webkit-tap-highlight-color: transparent;
}
html{
    -webkit-text-size-adjust:none;
}
html,
body,
.index_page,
.details_page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    text-align:justify;
    font-family:"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",arial,Helvetica,sans-serif;
}
.index_page{
    background: url(../images/index_pageBg1.jpg) center no-repeat;
    background-size: auto 100%;
}
.index_page.second{
    background-image: url(../images/index_pageBg2.jpg);
}
.details_page{
    background: url(../images/details_page.jpg) center no-repeat;
    background-size: auto 100%;
}
.data_page{
    position: relative;
    width: 100%;
}
.data_page_img{
    display: block;
    width: 100%;
}
.jcontent{
    position: relative;
    width: 100%;
    height: 100%;
}
.personal_changeBtn,
.personal_backBtn{
    position: absolute;
    width: 8%;
    height: 3%;
    top: 2.3%;
    background: url(../images/arrow1.png) center no-repeat;
    background-position: 60%;
    background-size: contain;
}
.personal_changeBtn{
    right: 2%;
}
.personal_backBtn{
    left: 1%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: none;
}
.backBtn{
    position: absolute;
    width: 8%;
    height: 3%;
    top: 1.2%;
    left: 2%;
    background: url(../images/arrow1.png) center no-repeat;
    background-position: 60%;
    background-size: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.personal_dataBtn,
.personal_travelBtn{
    position: absolute;
    width: 8%;
    height: 3%;
    top: 12.2%;
    right: 2%;
    background: url(../images/arrow2.png) center no-repeat;
    background-position: 60%;
    background-size: contain;
}
.personal_travelBtn{
    top: 26%;
}
.line{
    position: absolute;
    width: 94%;
    height: 1px;
    background: #e6e6e6;
}
.line.l1{
    top: 29.6%;
    left: 3%;
}
.swiper-container-dlist{
    position: absolute;
    width: 100%;
    height: 7.2rem;
    top: 67%;
    overflow: hidden;
}
.swiper-wrapper,
.swiper-slide{
    position: relative;
    width: 100%;
    height: 100%;
}

.details_list{
    position: relative;
    width: 100%;
// height: 7.2rem;
// top: 67%;
// overflow: auto;
}
.details_list li{
    position: relative;
    width: 94%;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 0 auto;
    border-top: 1px solid #d7d7d7;
}
.details_list li span{
    text-align: center;
    color: #1f1c1d;
    font-size: 1.7vh;
    float: left;
}
.details_list li .date{
    width: 16.5%;
    margin-left: 5%;
    text-align: left;
}
.details_list li .time{
    width: 16%;
    margin-left: 1.3%;
}
.details_list li .class{
    width: 14%;
    margin-left: 0.1%;
}
.details_list li .state{
    width: 17%;
    margin-left: 2.3%;
}
.details_list li .details{
    width: 27%;
    color: #3f4896;
    float: right;
}
.details_list li .state[data-noClass='1']{
    color: #dc2b46;
}
.change_dateBtnl,
.change_dateBtnr{
    position: absolute;
    width: 10%;
    height: 4.3%;
    top: 53%;
// background: red;
// opacity: .5;
}
.change_dateBtnl{
    left: 21%;
}
.change_dateBtnr{
    right: 21%;
}
.details_date{
    position: absolute;
    text-align: center;
    width: 60%;
    top: 54%;
    left: 20%;
    color: #1f1c1d;
    font-size: 2.3vh;
    letter-spacing: 0.03rem;
}
.video_bgBor{
    position: absolute;
    width: 97%;
    top: 60%;
    left: 1.5%;
}
.vid_img1{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.video_bgBor:before{
    content: '';
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    left: 50%;
    background: url(../images/playBtn.png) center no-repeat;
    background-size: contain;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.video{
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    background: #000;
    display: none;
}
.myrank{
    position: absolute;
    text-align: center;
    width: 50%;
    top: 50%;
    left: 23%;
    color: #6360aa;
    font-size: 1.24vh;
    white-space: nowrap;
}
.additional_btn{
    position: absolute;
    top: 2.7%;
    right: 9%;
    color: #fff;
    font-size: 2.3vh;
}