<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thelittlegym.mobile.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.thelittlegym.mobile.entity.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE" />
    </resultMap>
    <resultMap id="participatorResultMap" type="com.thelittlegym.mobile.entity.User" >
        <id column="userId" property="id" jdbcType="BIGINT" />
        <result column="name" property="familyName" jdbcType="VARCHAR" />
        <result column="familyTitle" property="familyTitle" jdbcType="VARCHAR" />
        <result column="phone" property="tel" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
      id, username, password, email, familyName, childName, familyTitle, gym, create_time
    </sql>
    <sql id="gymWhere" >
        where gym not like '月球%' and gym not like '火星%' and gym not like 'head%' and gym not like '测试%' and gym like '%中心'
    </sql>

    <select id="getAll" parameterType="java.lang.String" resultMap="BaseResultMap"  >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        <include refid="gymWhere" />
        <if test="search!=null and search!=''">
          and CONCAT(username,familyName,childname,gym,create_time,email) like '%${search}%'
        </if>
        order by create_time desc
    </select>
    <select id="getStats" parameterType="int" resultType="hashmap">
        select gym,gymcode,count(1)num FROM user
        <include refid="gymWhere" />
         group by gym,gymcode order by num desc
    </select>
    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id}
    </select>

    <select id="getParticipatorsTobe" resultMap="participatorResultMap">
        select DISTINCT phone,name,familyTitle,userId
        from(select phone,ifnull(name,'')name,familyTitle,createTime,userId from participator union all select telephone,ifnull(familyName,''),familyTitle,create_time,id from user)a
        where userId=${userId}
        <if test="names!=null">
           <foreach item="item" index="index" collection="names" open="and name not in("
                 separator="," close=")">
                #{item}
           </foreach>
        </if>
        order by createTime desc
    </select>

</mapper>